@media only screen and  (max-width: 992px){
.container { width:100%;}
.row { padding: 0px;}
.column  { padding: 30px;}
.hztian-header,.hztian-part-box{ border-bottom: 18px solid #e3e3e3;  }
.hztian-part-ties { margin-left: 30px; margin-right: 30px; margin-top: 30px; margin-bottom: 0px; }
.page-header{ margin-top: 10px; }
.openbtn {z-index: 99;  top: 20px; right: 18px;  padding-top: 0px;} 
.closebtn {z-index: 99;  top: 20px; right: 18px;  padding-top: 0px;} 
.openbtn img { width: 40px; height: 40px;  }
.closebtn img { width: 40px; height: 40px;  }	
@media only screen  and (max-width:767px) { 
.column  { padding: 20px;}
.hztian-part-ties { margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 0px; }
.hztian-header-about dt { padding-top: 15px;  }
.hztian-header-about dd { padding-bottom: 15px; padding-top: 10px; }
.hztian-part-box h2 { padding-top: 0px; }
.hztian-part-box-btn { margin-bottom: 0px; }
.hztian-header span {font-size: 1.5rem; display:block; line-height: 2.4rem;}
.page-header{padding-bottom: 15px;}
.hztiano-menu ul {justify-content: space-between; flex-wrap: wrap;  }
.jumbotron p{
	  line-height: 0;
  }
.jumbotron p span{
	 font-size: 1.2rem;
 }
.hztiano-menu ul li { margin:0px }

}

  @media only screen and (max-width:567px) { 
    .hztiano-menu { display : none;}
}
