#zp1,
#zp2,
#zp3,
#zp4 {
	display: none;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.icon2 {
	width: 3em;
	height: 3em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.icon3 {
	width: 4em;
	height: 4em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	color: red;
}

.footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #9DA0A7;
	background-color: white;
	margin-top: 30px;
	text-align: center;
}

.skills ol li {
	display: none;
}
body{
	background-color: #efefef;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
 div,body,html,li,ul,h1,h2,h3,h4,h5,h6,p{
 	margin: 0;
 	padding: 0;
 }
 ul,ol{
 	list-style: none;
 }
 a{
 	color: inherit;
 	text-decoration: none;
 }
 .clearfix::after{
 	content: "";
 	display: block;
 	clear: both;
 }
 .topNavBar{
 	padding-bottom: 12px;
 	padding-top: 20px;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	background-color: white;
 	z-index: 1;
 }
 .jieshao_bottom h3{
 	color: orange;
 }
 .jieshao svg{
 	vertical-align: middle;
 	position:absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 margin:auto;
 }
 .jieshao_bottom{
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	text-align: center;
 	background-color: white;
 	width: 100%;
 	border-bottom-right-radius: 1rem;
 	border-bottom-left-radius: 1rem;
 	border: 1px solid #B7B7B7;
 	box-sizing: border-box;
 }
 .jieshao{
 	position: absolute;
 	top: 0px;
 	left: 0;
 	background-color: rgba(255,255,255,0.3);
 	text-align: left;
 	width: 100%;
 	height: 100%;
 	transition: all 1s;
 }
 .banner{
	 display: none;
 }
 main{
	 display: none;
 }
 .skills{
 	display: none;
 }
 .portfolio{
	 display: none;
 }